body {
    margin: 0;
}

h1 {
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 110px;
}

h2 {
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 90px;
    color: blue;
}

h3 {
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.italic {
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.logo-meta{
    width: 50px;
    margin-right: 15px;
}

.d-flex {
    display: flex;
}

.aling-center {
    text-align: center;
}

.space-aroud {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* largeur obligatoire pour être centré */
}

/*/Pop Up alan/*/
.popup-container {
    display: none;
    position: fixed;
    top: 20%;
    right: 5%;
    background-image: url(../img/pop-up-bleu.svg);
    background-repeat: no-repeat;
    width: 437.8114px;
    height: 567.8543px;

   
  }
  
  .popup-content {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 60px;
    padding-bottom: 0px;
    align-items: center;
  }

  /*/Pop Up alice/*/
.popup-container-alice{
    display: none;
    position: fixed;
    top: 20%;
    left: 5%;
    background-image: url(../img/pop-up-rose.svg);
    background-repeat: no-repeat;
    width: 437.8114px;
    height: 567.8543px;

   
  }
  
  .popup-content-alice {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 60px;
    padding-bottom: 0px;
    align-items: center;
  }

  .active {
    display: block !important; 
  }

    /*/Pop Up alice/*/
.popup-container-source{
    display: none;
    position: fixed;
    bottom: 20%;
    background-image: url(../img/pop-up-jaune.svg);
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;

   
  }
  
  .popup-content-source {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 70px;
    padding-bottom: 0px;
    align-items: center;
  }

  .active {
    display: block !important; 
  }

/*/Buton/*/

.button-jaune {
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    background-color: rgb(255, 255, 0) ;
    border: none;
    border-radius: 50px;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color:rgb(255, 0, 127);
  }

.button {
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    background-color: rgb(255, 0, 127) ;
    border: none;
    border-radius: 50px;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: white;
  }
  
  .button-img {
    position: absolute;
    top: -15px;
    right: 190px;
    width: 80px;
    height: 50px;
  }


/*/header/*/

header {
    background-color: rgb(0, 255, 0);
    padding: 20px;
}

.a {
    text-decoration: none;
    color: black;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

/*/compte-a-rebourt/*/

.count
{
  color: rgb(255, 0, 127);
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 110px;
  
}

.titre-conteur {
    color: rgb(255, 0, 127);
    margin: 0;
    margin-left: 5px;
}

.p-conteur {
    font-size: 40px;
    margin: 0;
    margin-left: 20px;
}

/*/Section/*/

.titre-77 {
    margin-top: 70px;
}

.img-77 {
    width: 100%;
}

.titre-header {
    margin: 0;
    font-size: 130px;
}

.container {
    position: relative;
    background-position: center;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

/*/Section/*/

.titre-alan {
    color: blue;
}

.img-alan {
    width: 50%;
}

/*/Section/*/

.margin-moins{
    margin-top: -5px;
}
.titre-select-2 {
    color: rgb(255, 0, 127);
}

.sous-titre-alice {
   color: rgb(255, 0, 127);
   font-size: 40px;
}

.img-alice {
    width: 50%;
}

.fond-jaune {
    background-color: rgb(255, 255, 0);
    padding-bottom: 10px;
}

.data-candice {
    width: 80%;
}

/*/selection/*/

.data-max {
    margin: 30px;
}

.titre-max {
    color:rgb(0, 255, 0) ;
}

/*/footer/*/

footer {
    background-color: rgb(0, 0, 255);
    padding: 20px;
    color: white;
}

.texte-footer {
    text-decoration: none;
    color: white;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.h3-footer {
    font-size: 18px;
}

.p-footer {
    font-size: 14px;
}


/*/Media querise/*/

@media screen and (max-width: 800px) {
    .d-flex {
        flex-direction: column;
    }

    h1{
        font-size: 30px !important;
    }

    h1{
        font-size: 30px !important;
    }


    h3 {
        font-size:10px;
    }

    p {
        font-size: 5px;
    }

    .button {
        font-size: 15px;
        margin: 5px;
      }
      
      .button-img {
        top: -15px;
        left: -15px;
        width: 40px;
        height: 50px;
      }

    .section-1 {
        display: none;
    }

}